.box1{
    position: absolute;
    top: 10%;
    left: 10%;
}

.box2{
    position: absolute;
    top: 60%;
    left: 40%;
}

.box_card1{
    width: 100px;
    height: 100px;
    position: absolute;
    transform: skewY(20deg);
    background-color: rgb(172, 172, 228);
}

.box_card2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    transform: skewY(-20deg);
    background-color: rgb(91, 91, 187);
}

.box_card3{
    width: 140px;
    height: 140px;
    position: absolute;
    top: -87px;
    left: 31px;
    transform:rotateX(69deg) rotateZ(45deg);
    background-color: rgb(81, 81, 160);
}

@media only screen and (max-width: 800px) {
    .box2{
        top: 30%;
        left: 30%;
    }
  }