.landing_page{
    width: 100%;
    height: 100%;
    position: relative;
    background-image:linear-gradient(to right, rgb(255, 255, 255), rgb(255, 246, 205));

}



.intro_text{
    position: absolute;
    top: 20%;
    
}

.intro_text .heading1{
    font-size:80px ;
    margin: 20px 0px 0 30px;
    position: absolute;
}


.intro_text .heading2{
    font-size:80px ;
    margin: 20px 0px 0 30px;
    position: absolute;
    
}


.intro_animation{

    top: 30%;
    right: 30px;
    position: absolute;
    width: 600px;
    height: 380px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main_svg{
    height: 100%;
    position: absolute;
}

.main_back{
    position: absolute;
    height: 400px;
}

.b1{
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 600px) {

    .intro_text {
        top: 10%;
    }

    .intro_text .heading1,.intro_text .heading2{
        font-size: 70px;
    }

    .intro_animation{
        top: 50%;
        
        right: 5%;
    }


    .landing_page{
        height: 180%;
        overflow-x: hidden;
    }
  }
