.landing_page{
    margin-top: 170px;
}

.heading{
    font-size: 70px;
    text-align: center;
    margin: 20px 0;
}


.below_heading{
    text-align: center;
    font-size: 20px;
    margin: 10px 0 100px 0;
    font-weight: 500;
    color: rgb(51, 51, 51);
}
.contact_button{
    background-color: rgb(231, 154, 12);
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    padding: 17px 40px;
    border-radius: 10px;
    margin: 30px auto 10px auto;
}


.subject{
    height: 100%;
    width: 280px;
    margin: 40px auto;
    border: 10px solid black;
    overflow: hidden;
    border-radius: 40px;
    background-image: linear-gradient(to top,rgb(108, 87, 228),rgb(12, 5, 75));
}

.animation{
    height: 500px;
}

.subject_head{
    width: 80%;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px 5%;
    height: 50px;
}

.subject_head .headline{
    font-size: 30px;
    margin: 0;
    position: absolute;
    opacity: 0;
}

.rocket_wrapper{
    width: 90%;
    background-image: url(images/stars.png);
    height: 100%;
    margin: auto;
    border-radius: 10px;
    position: relative;
}

.rocket{
    height: 200px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    margin-left: -75px;
}

.rocketimage{
    height: 300px;
    z-index: 99;
}

.fire{
    width: 100px;
    margin-top: -50px;
    margin-left: 65px;
}

@media only screen and (max-width: 800px) {
    .heading{
        font-size: 50px;
        padding: 0 20px;
    }

    .subject{
        width: 80%;
        height: 90%;
    }
}