.product_page{
    width: 100%;
    margin-top: 150px;
    position: relative;
}

.icon{
    width: 90px;
}

.product_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    transition: 0.5s;

}

.below_product_heading{
    text-align: center;
    margin: 0;
    padding: 0;
}
.product{
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

.product_page_heading{
    font-size: 40px;
    text-align: center;
    transition: 0.3s;
}

.product_heading{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
}

.product_detail{
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {

  
  }
